<body>
  <div class="titulo">
      <h1>Formulario de Contacto</h1>
  </div>

  <div class="form-container">
      <h2>Contacto</h2>
      <form id="contactForm">
          <div class="form-row">
              <div class="form-group">
                  <select id="sexo" required>
                      <option value="">Sexo *</option>
                      <option value="masculino">Masculino</option>
                      <option value="femenino">Femenino</option>
                  </select>
              </div>
              <div class="form-group">
                  <input type="text" id="nacimiento" placeholder="Fecha Nacimiento *" onfocus="(this.type='date')" onblur="(this.type='text')" required>

              </div>
          </div>

          <div class="form-row">
              <div class="form-group">
                  <input type="text" id="nombre" placeholder="Nombre *" required>
              </div>
              <div class="form-group">
                  <input type="text" id="apellido" placeholder="Apellido *" required>
              </div>
          </div>

          <div class="form-row">
              <input type="email" id="email" placeholder="Email *" required>
          </div>

          <div class="form-row">
              <input type="text" id="direccion" placeholder="Dirección *" required>
          </div>

          <div class="form-row">
              <div class="form-group">
                  <input type="text" id="casa" placeholder="Casa / Apartamento *" required>
              </div>
              <div class="form-group">
                  <select id="pais" required>
                      <option value="">País *</option>
                      <option value="colombia">Colombia</option>
                      <option value="argentina">Argentina</option>
                      <option value="mexico">México</option>
                  </select>
              </div>
          </div>


          <div class="form-row">
              <div class="form-group">
                  <label for="departamento" id="departamento-label">Departamento *</label>
                  <select id="departamento">
                      <option value="">Seleccione</option>
                      <option value="antioquia">Antioquia</option>
                      <option value="cundinamarca">Cundinamarca</option>
                      <option value="valle">Valle del Cauca</option>
                  </select>
              </div>
              <div class="form-group">
                  <select id="sexo" required>
                      <option value="">Ciudad *</option>
                      <option value="masculino">Masculino</option>
                      <option value="femenino">Femenino</option>
                  </select>
              </div>
          </div>

          <div class="form-row">
              <textarea id="comentarios" placeholder="Comentarios"></textarea>
          </div>

          <div class="form-row submit-row">
  <button type="submit">Enviar</button>
</div>
      </form>
  </div>

  <script src="script.js"></script>
</body>

<router-outlet />
