body {
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/vector-gratis/calle-ciudad-vectores_23-2147751403.jpg?1&w=1060&t=st=1728956140~exp=1728956740~hmac=845e036ec4470b673f2f07f56b6adad37beee5148c656866d8b5256c76f30e3a'); /* Aquí va la URL de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center;
  background-attachment: fixed; /* Para que la imagen no se mueva al hacer scroll */
  margin: 0;
  padding: 0;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1; /* Asegura que el formulario esté encima de la imagen de fondo */
  position: relative; /* Mantiene el formulario en la parte superior del fondo */
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.titulo {
  text-align: center;

}

.form-container {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.submit-row {
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
  margin-top: 20px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;

}

button:hover {
  background-color: #45a049;
}

#departamento-label,
#departamento {
  display: none; /* El campo departamento inicialmente está oculto */
}
